<div class="panel panel-primary">
  <div class="panel-heading">
    <h2 class="text-center font-iceberg">Room List</h2>
  </div>
  <div class="panel-body d-flex flex-wrap">
    <div class="card pt-2 mx-1 my-1" *ngFor="let room of rooms | async" style="width: 23%;">
      <h4 class="card-title text-center">{{room.name}}</h4>
      <div class="card-body">
        <p class="card-text">{{room.date | date: 'dd/MM/yyyy' }}</p>
        <p class="card-text text-muted">{{room.startHour}} - {{room.endHour}}</p>
      </div>
      <div class="card-footer d-flex justify-content-around">
        <button class="btn btn-danger" (click)="deleteRoom(room.id)">
          <i class="bi bi-trash"></i>
        </button>
        <button class="btn btn-info" (click)="roomDetails(room.id)">
          <i class="bi bi-info-circle"></i>
        </button>
      </div>
    </div>
  </div>
</div>
