<h2 class="font-iceberg">Room Details</h2>
<hr/>
<div class="d-flex flex-column">
  <div *ngIf="room" class="mx-auto">
    <div>
      <label><b>Name: </b></label> {{room.name}}
    </div>
    <div>
      <label><b> Date:</b></label> {{room.date | date: 'dd/MM/yyyy'}}
    </div>
    <div>
      <label><b> Start Hour:</b></label> {{room.startHour}}
    </div>
      <div>
      <label><b> End Hour:</b></label> {{room.endHour}}
    </div>
  </div>

  <br>
  <br>
  <div class="d-flex justify-space-around mx-auto" style="width: 25%;">
    <button (click)="list()" class="btn btn-primary mx-auto">
      <i class="bi bi-arrow-left"></i>
    </button>
    <button (click)="update()" class="btn btn-primary mx-auto">
      <i class="bi bi-pencil"></i>
    </button>
  </div>
  <br>
</div>
